require("../../constants/styles.js");

.Edit_canvas {
  position: relative;
  height: @picture_edit_height;
  margin: 0.5rem;
  text-align: center;
  border: @add_album_border;
  border-radius: @border_radius;

  .loader {
    display: inline-block;
    top: calc(@picture_edit_height/2);
    position: absolute;
  }

  .cross_icon, .rotate_icon, .save_icon {
    position: absolute;
    fill: @text_color;
    width: 1rem;
    height: 1rem;
    top: 0.2rem;
    background-color: rgba(0,0,0,0.7);
    padding: 2px;
  }

  .cross_icon {
    right: 0.2rem;
  }

  .save_icon {
    right: 2.8rem;
  }


  .rotate_icon {
    right: 1.5rem;
  }
}