body {
  background-color: #232326;
  overflow: hidden; // TODO set in JS
}

input, textarea {
  background-color: #232326;
  outline: none;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem;
  line-height: 2rem;
  border-width: 1px;
  resize: none;

  &:focus {
    outline: none;
  }
}

textarea {
  height: 10.1rem;
}

//.dot {
//  width: 2rem;
//  height: 2rem;
//}
//
//.slick-slider {
//  width: 100%;
//  height: 600px;
//}
//
//.slick-prev, .slick-next {
//  width: 3rem;
//  height: 3rem;
//
//}
//
//.slick-dots li button:before {
//  font-size: 2rem;
//}
//
//.slick-prev:hover, .slick-next:hover {
//
//
//}