require("./constants/styles.js");

body {
  background-color: @body_color;
  margin: 0;
  overflow: hidden; // TODO set in JS
}

.scroll_bar {
  &>div:last-of-type {
    background-color: @text_color;
    border: 1px solid @text_color;

    &>div {
      background-color: @body_color !important;
    }
  }
}