require("../../constants/styles.js");

.Dialog {
  position: absolute;
  width: 20rem;
  height: 12rem;
  background-color: @dialog_bg;
  box-shadow: 0 0 0.3rem 0.1rem @text_color;
  top: 5rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 40;

  @media screen and (max-width: 700px) {
    width: 15rem;
  }


  &_text {
    color: @text_color;
    margin: 2rem 1rem 1rem 1rem;
  }

  .cross {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0.2rem;
    right: 0.2rem;
    fill: @text_color;
  }

  &_ok_button {
    width: 10rem;
    height: 2rem;
    color: @text_color;
    background-color: @body_color;
    font-size: 1rem;
    border-width: 3px;
    border-radius: @border_radius;
    margin: 2rem;
  }
}